.card-container {
    width: 300px;
    min-height: 300px;
    margin: 5px;
    margin-bottom: 40px;
}

.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board > .card-content {
    padding-bottom: 0;
    padding-top: 0;
}

.board {
    height: 100%;
}

.card-content > .card {
    margin: 5px 0;
}

.board > .card-content:last-child {
    margin-bottom: 20px;
}

.board > .card-content:first-child {
    margin-top: 20px;
}

.board .card-title {
}

.board .card-footer {
    border-top: none;
    padding-top: 0;
}

.btn-main {
    width: 100%
}
.text-dark {
    color: #878787;
}